# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
# Para evitar que se suban los .unity
# Scenes/
# Scenes.meta
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
  
# ============ #
# iOS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ================= #
# Android generated #
# ================= #
*.apk

